 @{ Layout = null;
}
<div class="error-page">
    <h2 class="headline text-danger">Access Denied</h2>
    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Sorry You Are Not Authorized.</h3>
        <p>

            <a href="@Url.Action("Login","Account")">Go To Login</a>
        </p>


    </div>
</div>