@{
    Layout = null;
}
Thank You For Registeration To Can Login Please Confirm Your Account As Send To Your Email

@if (ViewBag.ErrorTitle != null)
{
    <p>@ViewBag.ErrorTitle</p>
}
@if (ViewBag.ErrorMessage != null)
{
    <p>@ViewBag.ErrorMessage</p>
}